@import url(../App.css);
#teacherInterface {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
}
.lesson {
    padding: 4rem;
    text-align: start;
    display: flex;
    flex-direction: column;
}
.lesson-text {
    color: var(--tertiary);
    font-size: var(--small-text);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.lesson-title {
    font-size: var(--h3);
    color: var(--off-white);
}
.wrap {
    width: 30rem;
    height: 17rem;
    overflow: hidden;
}
hr.solid {
    margin-top: 2rem;
    border-top: 0.5px solid #bbbbbb5f;
}
.modal {
    width: 60%;
    height: 40%;
    background-color: var(--off-white);
    border-radius: 25px;
    box-shadow: 1rem 1rem var(--tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--h3);
}
.plus {
    width: 25%;
    height: 35vh;
    padding-bottom: 6rem;
    font-size: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-top: 5%;
    margin-right: 5.5rem;
    border: solid var(--off-white) 0.2rem;
    border-radius: 1rem;
}
.text-field-multiline {
    width: 50%;
    height: 40%;
    font-size: var(--h4);
}

.tab-class {
    color: var(--off-white);
    font-size: var(--h3);
}

.tab-static {
    left: 10%;
    top: 20%;
    position: absolute;
}
